.App {
  text-align: center;
  padding-top: 48px;
}

.GamesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.GamesList-Item {
  width: 30%;
  padding-bottom: 15px;
}

.StreamsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.StreamsList-Item {
  width: 30%;
  padding-bottom: 15px;
}